* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container {
  text-align: center;
  width: 40%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 40px;
  font-family: "Bungee Spice", cursive;
}

.joke {
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  width: 80%;
  color: white;
}

.btn {
  font-size: larger;
  margin: 0 auto;
  width: 160px;
  border-radius: 5px;
  padding: 5px;
  font-family: "Silkscreen", cursive;
  background-color: black;
  color: brown;
}

button:hover {
  color: white;
}
