* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Bungee Spice", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  text-align: center;
}

.count {
  margin-top: 20px;
  font-size: 50px;
}

.btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btns button {
  background-color: rgb(205, 139, 139);
  color: black;
  font-size: 21px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: "Teko", sans-serif;
}
